<.header>
  New Sport
  <:subtitle>Use this form to manage sport records in your database.</:subtitle>
</.header>

<.sport_form changeset={@changeset} action={~p"/sports"} />

<.back navigate={~p"/sports"}>Back to sports</.back>
