<.header>
  New Bet
  <:subtitle>Use this form to manage bet records in your database.</:subtitle>
</.header>

<.bet_form changeset={@changeset} action={~p"/bets"} games={@games} users={@users} predictions={@predictions} />

<.back navigate={~p"/bets"}>Back to bets</.back>
